@using Form_ModelBinding.Models.Entities


@model List<Product>
@{
}

<h2>List product</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">Add product</a>
        <div class="col">

        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>

